---
// src/components/media/MosaicGallery.astro
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  // Ubah tipe data dari string[] kembali menjadi ImageMetadata[]
  images: ImageMetadata[];
}

const { images } = Astro.props;
---

<div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4 my-8 breakout px-4 md:px-0 max-w-7xl mx-auto">
  {images.map((imgObj, index) => (
    <div class={`overflow-hidden rounded-xl shadow-sm hover:shadow-md transition-shadow ${index === 0 || index === 3 ? 'col-span-2 md:col-span-2 row-span-2' : 'col-span-1'}`}>
      <!-- Gunakan komponen Image dari Astro -->
      <Image 
        src={imgObj} 
        alt={`Gallery image ${index + 1}`} 
        class="cursor-zoom-in zoom-img w-full h-full object-cover transition-transform duration-500 hover:scale-105"
        width={800}
        height={600}
      />
    </div>
  ))}
</div>