---
import { ClientRouter } from 'astro:transitions';
import '../assets/styles/global.css';

---
<!doctype html>
<html lang="id">
  </head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Arrosyid Al Ayubi adalah seorang developer yang berfokus pada pembuatan website yang responsif dan user-friendly." />
    <title>Website Personal | Arrosyid Al Ayubi</title>
     <ClientRouter />
  </head>
  <body class="bg-slate-50 text-slate-900 antialiased selection:bg-blue-200">
    <!-- Nanti kita tambahkan Header/Navigasi di sini -->
    <main>
      <slot />
    </main>
    <!-- Nanti kita tambahkan Footer di sini -->
  </body>
</html>